{% extends "layout.html" %}
{% block content %}
<h1>Data are currently being copied to path:</h1>
<p>{{data.path}}</p>
<p>Data are being copied, after the whole copy is done you will be redirected.
<p>Be patient it may take several minutes.</p>
{% endblock content %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    var refresh_id = setInterval(function() {
        $.get(
          "{{ url_for('copy_status') }}",
          function(data) {
            console.log(data);
            if (data.status == 'finished') {
              window.location.replace("{{ url_for('data_copied') }}");
            }
          }
        )}
      , 1000);
  });
</script>
{% endblock scripts %}