{% extends "layout.html" %}
{% block content %}
    <h2>Retrieving sequencing data from SC</h2>
    <p>Predictive number: {{data.pred_num}} -> Pseudonym: {{data.pseudonym}}</p>
    <p>File found in:</p>
    <p>{{data.path}}</p>

    <h2>Download only patient sample:</h2>
    <button id="sampleBtn">Single Sample</button>

    <h2>Download whole run:</h2>
    <button id="runBtn">Whole Run</button>

    <div id="jobStatus" style="margin-top: 20px; padding: 10px; font-weight: bold;"></div>
{% endblock %}
{% block scripts %}
    <script>
        const jobStatus = document.getElementById('jobStatus');

        function startJob(buttonId, url) {
            const button = document.getElementById(buttonId);

            button.addEventListener('click', () => {
                button.disabled = true;
                jobStatus.textContent = 'Starting job...';

                fetch(url, {
                    method: 'POST'
                })
                    .then(res => {
                        if (!res.ok) throw new Error('Failed to start job');
                        return res.json();
                    })
                    .then(data => {
                        const path = data.path;

                        if (data.status === 'already_exists') {
                            jobStatus.textContent = `Data are already present in path: ${path}`;
                            button.disabled = false;
                            return;
                        }
                        if (data.status !== 'started' || !data.job_id || !data.path) {
                            throw new Error('Unexpected response from server');
                        }

                        const jobId = data.job_id;

                        jobStatus.textContent = `Data are currently being copied to path: ${path}. Be patient it may take several minutes.`;

                        const evtSource = new EventSource(`/job-status/${jobId}`);

                        evtSource.onmessage = function (event) {
                            if (event.data === `Job ${jobId} finished`) {
                                jobStatus.textContent = `Data copied successfully. They are available at path ${path}`;
                                button.disabled = false;
                                evtSource.close();
                            }
                        };

                        evtSource.onerror = function () {
                            jobStatus.textContent = 'Connection error';
                            button.disabled = false;
                            evtSource.close();
                        };
                    })
                    .catch(err => {
                        jobStatus.textContent = 'Error: ' + err.message;
                        button.disabled = false;
                    });
            });
        }

        startJob('sampleBtn', '/transfering_file_sample');
        startJob('runBtn', '/transfering_file_run');
    </script>
{% endblock %}
