{% extends "layout.html" %}
{% block content %}
    <h2>Retrieving sequencing data from SC</h2>
    <p>Predictive number: {{ base_pred_num }}</p>

    <h3>Samples found:</h3>
    <table style="width: 100%; border-collapse: collapse; font-size: 14px;">
        <thead>
        <tr style="background-color: #f9f9f9;">
            <th style="text-align: left; padding: 8px;">Pseudonym</th>
            <th style="text-align: left; padding: 8px;">Prediction #</th>
            <th style="text-align: left; padding: 8px;">File Path</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr style="border-bottom: 1px solid #ddd;">
                <td style="padding: 8px;">{{ file.pseudonym }}</td>
                <td style="padding: 8px;">{{ file.pred_number }}</td>
                <td style="padding: 8px; font-family: monospace;">{{ file.path }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Download all samples:</h2>
    <button id="sampleBtn">Download Samples</button>

    <h2>Download whole run:</h2>
    <button id="runBtn">Whole Run</button>

    <div id="jobStatus" style="margin-top: 20px; padding: 10px; font-weight: bold;"></div>
{% endblock %}
{% block scripts %}
    <script>
        const jobStatus = document.getElementById('jobStatus');

        function startJob(buttonId, url) {
            const button = document.getElementById(buttonId);

            button.addEventListener('click', () => {
                button.disabled = true;
                jobStatus.textContent = 'Starting job...';

                fetch(url, {
                    method: 'POST'
                })
                    .then(res => {
                        if (!res.ok) throw new Error('Failed to start job');
                        return res.json();
                    })
                    .then(data => {
                        const paths = data.paths || [];

                        if (data.status === 'already_exists') {
                            jobStatus.textContent = `Data are already present in path: ${paths}`;
                            button.disabled = false;
                            return;
                        }
                        if (data.status !== 'started' || !data.job_id) {
                            throw new Error('Unexpected response from server')
                        }

                        const jobId = data.job_id;

                        jobStatus.textContent = `Data are currently being copied to path: ${paths}. Be patient it may take several minutes.`;

                        const evtSource = new EventSource(`/job-status/${jobId}`);

                        evtSource.onmessage = function (event) {
                            if (event.data === `Job ${jobId} finished`) {
                                jobStatus.textContent = `Data copied successfully. They are available at path ${paths}`;
                                button.disabled = false;
                                evtSource.close();
                            }
                        };

                        evtSource.onerror = function () {
                            jobStatus.textContent = 'Connection error';
                            button.disabled = false;
                            evtSource.close();
                        };
                    })
                    .catch(err => {
                        jobStatus.textContent = 'Error: ' + err.message;
                        button.disabled = false;
                    });
            });
        }

        startJob('sampleBtn', '/transfering_file_sample');
        startJob('runBtn', '/transfering_file_run');
    </script>
{% endblock %}
